<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnterEmail</key>
	<string>Enter your Email</string>
	<key>EnterPassword</key>
	<string>Enter your password</string>
	<key>LoginTitle</key>
	<string>Login Page</string>
	<key>SubmitButton</key>
	<string>Send</string>
</dict>
</plist>
